<script lang="ts">
	import { toastPosition } from '$lib/utils';
	import { Toaster } from 'svelte-sonner';

	import '../app.css';

	let screenHeight: number | undefined;
</script>

<svelte:window bind:innerHeight={screenHeight} />

<div
	style={`height: ${
		screenHeight === undefined ? '100vh' : `calc(100 * ${screenHeight / 100}px)`
	};`}
>
	<Toaster position={$toastPosition} theme="dark" />
	<slot />
</div>

<style>
	@media not (pointer: fine) {
		:global(.desktop) {
			display: none;
		}
	}

	@media (pointer: fine) {
		:global(.mobile) {
			display: none;
		}
	}
</style>
