<script lang="ts">
	import type { AudioNodeHealth } from '$api/AudioNodeHealth';
	import type { AudioNodeInfo } from '$api/AudioNodeInfo';
	import type { CentralGatewayInfoStreamType } from '$api/CentralGatewayInfoStreamType';
	import type { CentralGatewaySessionConnectedMessage } from '$api/CentralGatewaySessionConnectedMessage';
	import { goto } from '$app/navigation';
	import { callKeypressOnEnter } from '$lib/utils';
	import { onMount } from 'svelte';
	import { toast } from 'svelte-sonner';

	let nodeInfo: AudioNodeInfo[] = [];
	let socket: WebSocket;

	onMount(() => {
		connect();
	});

	function connect(reconnectDelayMs?: number) {
		const wanted: CentralGatewayInfoStreamType[] = ['NODE_INFO'];
		const url = `${
			import.meta.env.VITE_WS_PREFIX
		}/streams/gateway?wanted_info=${wanted.join(',')}`;

		socket = new WebSocket(url);

		socket.addEventListener('message', (event) => {
			try {
				const resp = JSON.parse(
					event.data
				) as CentralGatewaySessionConnectedMessage;
				if (resp.SESSION_CONNECTED_RESPONSE !== undefined) {
					nodeInfo = (resp.SESSION_CONNECTED_RESPONSE.nodeInfo ?? []).toSorted(
						(a, b) => a.humanReadableName.localeCompare(b.humanReadableName)
					);
				}
			} catch (err) {
				console.error(err);
			}
		});

		socket.addEventListener('close', () => {
			const firstDisconnect = reconnectDelayMs === undefined;
			if (firstDisconnect) {
				toast.warning('not connected to server, trying to reconnect...');
			}

			const retryMs = Math.min(reconnectDelayMs ?? 300, 8_000);

			console.warn(`websocket connection closed`);
			console.warn(`retrying connection in ${retryMs * 1_000}s`);

			setTimeout(() => connect(retryMs * 2), retryMs);
		});
	}

	type SimpleHealth = 'good' | 'mild' | 'poor';

	function getSimpleHealth(health: AudioNodeHealth): SimpleHealth {
		if (health === 'good') {
			return 'good';
		} else if ('mild' in health) {
			return 'mild';
		} else {
			return 'poor';
		}
	}

	function getHealthColor(health: SimpleHealth) {
		if (health === 'good') {
			return 'bg-neutral-800 border-neutral-400';
		} else if (health === 'mild') {
			return 'bg-neutral-800  border-orange-600 text-orange-400';
		} else {
			return 'bg-red-900 border-red-500 text-black';
		}
	}

	function gotoNode(info: AudioNodeInfo) {
		if (getSimpleHealth(info.health) !== 'poor') {
			goto(
				`/queue/${info.sourceName}/mini?human_readable_name=${encodeURIComponent(
					info.humanReadableName
				)}`
			);
		}
	}
</script>

<div class="p-4">
	<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4 2xl:grid-cols-6">
		{#each nodeInfo as info}
			<div
				class={`flex cursor-pointer items-center justify-center border border-solid bg-neutral-800
                 ${getHealthColor(getSimpleHealth(info.health))} p-8 lg:p-12`}
				role="cell"
				tabindex="0"
				on:keypress={(e) => callKeypressOnEnter(e, () => gotoNode(info))}
				on:click={() => gotoNode(info)}
			>
				<span class="text-lg font-bold sm:text-xl 2xl:text-2xl">
					{info.humanReadableName}
				</span>
			</div>
		{/each}
	</div>
</div>
