<!-- Thanks a lot to Schum123 for creating some awesome Svelte loading components (including this one) -->
<!-- GitHub: https://github.com/Schum123/svelte-loading-spinners -->
<!-- Website: https://schum123.github.io/svelte-loading-spinners -->

<script context="module" lang="ts">
	export type SpinnerTypes = {
		size: string | number;
		color: string;
		unit: string;
		duration: string;
		pause: boolean;
	};

	export const calculateRgba = (color: string, opacity: number): string => {
		if (color[0] === '#') {
			color = color.slice(1);
		}

		if (color.length === 3) {
			let res = '';
			color.split('').forEach((c: string) => {
				res += c;
				res += c;
			});
			color = res;
		}

		const rgbValues = (color.match(/.{2}/g) || [])
			.map((hex: string) => parseInt(hex, 16))
			.join(', ');

		return `rgba(${rgbValues}, ${opacity})`;
	};

	export const range = (size: number, startAt = 0) =>
		[...Array(size).keys()].map((i) => i + startAt);
</script>

<script lang="ts">
	export let color: SpinnerTypes['color'] = '#0063EB';
	export let unit: SpinnerTypes['unit'] = 'px';
	export let duration: SpinnerTypes['duration'] = '2.1s';
	export let size: SpinnerTypes['size'] = '60';
	export let pause: SpinnerTypes['pause'] = false;

	let rgba: string;

	$: rgba = calculateRgba(color, 0.2);
</script>

<div class="wrapper" style="--size: {size}{unit}; --rgba:{rgba}">
	{#each range(2, 1) as version}
		<div
			class="lines small-lines {version}"
			class:pause-animation={pause}
			style="--color: {color}; --duration: {duration};"
		/>
	{/each}
</div>

<style>
	.wrapper {
		border-radius: 8px;
		height: calc(var(--size) / 15);
		width: calc(var(--size) * 2);
		background-color: var(--rgba);
		position: relative;
		overflow: hidden;
		background-clip: padding-box;
	}
	.lines {
		height: calc(var(--size) / 15);
		background-color: var(--color);
	}

	.small-lines {
		position: absolute;
		overflow: hidden;
		background-clip: padding-box;
		display: block;
		border-radius: 2px;
		will-change: left, right;
		animation-fill-mode: forwards;
	}
	.small-lines.\31 {
		animation: var(--duration) cubic-bezier(0.65, 0.815, 0.735, 0.395) 0s infinite
			normal none running long;
	}
	.small-lines.\32 {
		animation: var(--duration) cubic-bezier(0.165, 0.84, 0.44, 1)
			calc((var(--duration) + 0.1) / 2) infinite normal none running short;
	}
	.pause-animation {
		animation-play-state: paused;
	}

	@keyframes long {
		0% {
			left: -35%;
			right: 100%;
		}
		60% {
			left: 100%;
			right: -90%;
		}
		100% {
			left: 100%;
			right: -90%;
		}
	}
	@keyframes short {
		0% {
			left: -200%;
			right: 100%;
		}
		60% {
			left: 107%;
			right: -8%;
		}
		100% {
			left: 107%;
			right: -8%;
		}
	}
</style>
