<script lang="ts" context="module">
	export type IconSize = 'small' | 'default';
</script>

<script lang="ts">
	export let size: IconSize = 'default';

	let sizeClasses = '';

	$: sizeClasses =
		size === 'default'
			? 'h-8 min-h-8 w-8 min-w-8 lg:h-10 lg:min-h-10 lg:w-10'
			: 'h-4 min-h-4 w-4 min-w-4 lg:h-6 lg:min-h-6 lg:w-6';
</script>

<div class={`flex select-none items-center justify-center ${sizeClasses}`}>
	<slot />
</div>
