<script lang="ts">
	export let value = '';

	export let onSubmit: (search: string) => void;
</script>

<form on:submit|preventDefault={() => onSubmit(value)}>
	<div class="relative">
		<div
			class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3"
		>
			<svg
				class="h-4 w-4 text-white"
				aria-hidden="true"
				fill="none"
				viewBox="0 0 20 20"
			>
				<path
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
				/>
			</svg>
		</div>
		<input
			bind:value
			type="search"
			id="default-search"
			tabindex="0"
			class="block w-full rounded-lg border border-neutral-500 bg-neutral-800 p-2 ps-10 text-white"
			placeholder="Search for Audio..."
			required
		/>
	</div>
</form>
