<script lang="ts">
	import { getContext } from 'svelte';
	import type { QueuePageStore } from '../+layout.svelte';
	import type { Readable } from 'svelte/store';
	import AudioOverviewQueue from '$lib/components/queue/AudioOverviewQueue.svelte';

	const queueData = getContext<Readable<QueuePageStore>>('queue-data');
</script>

{#if $queueData?.nodeName}
	<AudioOverviewQueue
		currentQueue={$queueData.queue.map((item) => ({ data: item, id: item.localId }))}
		nodeName={$queueData.nodeName}
		currentQueueHead={$queueData.audioInfo?.currentQueueIndex ?? 0}
	/>
{/if}
