<script lang="ts" context="module">
	export type QueuePageStore = {
		nodeName?: string;
		queue: AudioQueueItem[];
		audioInfo?: AudioInfoPartial;
	};

	const queuePageStore = writable<QueuePageStore>({
		queue: []
	});
</script>

<script lang="ts">
	import { onMount, setContext } from 'svelte';
	import ActiveAudio from '$lib/components/queue/ActiveAudio.svelte';
	import type { PageData } from './$types';
	import type { AudioNodeInfoStreamMessage } from '$api/AudioNodeInfoStreamMessage';
	import type { AudioNodeInfoStreamType } from '$api/AudioNodeInfoStreamType';
	import type { AudioNodeHealth } from '$api/AudioNodeHealth';
	import { goto } from '$app/navigation';
	import { callKeypressOnEnter, sendNodeCommand, toastError } from '$lib/utils';
	import { page } from '$app/stores';
	import { browser } from '$app/environment';
	import { toast } from 'svelte-sonner';
	import { writable } from 'svelte/store';
	import type { AudioNodeCommand } from '$api/AudioNodeCommand';
	import ActionWheel from '$lib/components/actionWheel/ActionWheel.svelte';
	import { searchPageHref } from '$lib/components/queue/AddButton.svelte';
	import Icon from '$lib/components/utils/Icon.svelte';
	import { Home, ListCollapse, ListPlus, Shuffle } from 'lucide-svelte';
	import type { NodeSessionConnectedMessage } from '$api/NodeSessionConnectedMessage';
	import type { AudioQueueItem } from '$api/AudioQueueItem';
	import type { AudioInfoPartial } from '$api/AudioInfoPartial';

	export let data: PageData;

	let humanReadableName = '---';
	let health: AudioNodeHealth = 'good';

	let socket: WebSocket;

	$queuePageStore.nodeName = data.node;
	setContext('queue-data', { subscribe: queuePageStore.subscribe });

	onMount(() => {
		if (browser) {
			humanReadableName = decodeURIComponent(
				$page.url.searchParams.get('human_readable_name') ?? '---'
			);

			connect();
		}
	});

	function connect(reconnectDelayMs?: number) {
		const wanted: AudioNodeInfoStreamType[] = ['QUEUE', 'HEALTH', 'AUDIO_STATE_INFO'];
		socket = new WebSocket(
			`${import.meta.env.VITE_WS_PREFIX}/streams/node/${
				data.node
			}?wanted_info=${wanted.join(',')}`
		);

		socket.addEventListener('message', (event) => {
			try {
				const resp = JSON.parse(event.data);
				const connection_resp = resp as NodeSessionConnectedMessage;

				if ('SESSION_CONNECTED_RESPONSE' in connection_resp) {
					health = connection_resp.SESSION_CONNECTED_RESPONSE.health ?? 'good';

					$queuePageStore.queue =
						connection_resp.SESSION_CONNECTED_RESPONSE.queue ?? [];

					$queuePageStore.audioInfo =
						connection_resp.SESSION_CONNECTED_RESPONSE.audioStateInfo ??
						undefined;
				}

				const stream_resp = resp as AudioNodeInfoStreamMessage;

				if ('QUEUE' in stream_resp) {
					$queuePageStore.queue = stream_resp.QUEUE;
				}

				if ('HEALTH' in stream_resp) {
					health = stream_resp.HEALTH;
				}

				if ('AUDIO_STATE_INFO' in stream_resp) {
					$queuePageStore.audioInfo = stream_resp.AUDIO_STATE_INFO;
				}

				if ('USER_ERROR' in resp) {
					toastError(resp);
				}
			} catch (err) {
				console.error(err);
			}
		});

		socket.addEventListener('close', () => {
			const firstDisconnect = reconnectDelayMs === undefined;
			if (firstDisconnect) {
				toast.warning('not connected to server, trying to reconnect...');
			}

			const retryMs = Math.min(reconnectDelayMs ?? 300, 8_000);

			console.warn(`websocket connection closed`);
			console.warn(`retrying connection in ${retryMs * 1_000}s`);

			setTimeout(() => connect(retryMs * 2), retryMs);
		});
	}

	async function clearQueue() {
		await sendNodeCommand('CLEAR_QUEUE', data.node);
	}

	function warnIfHealthPoor(health: AudioNodeHealth) {
		if (health === 'good') {
			return;
		}

		console.warn(`DEVICE HEALTH NOT GOOD\n\n${JSON.stringify(health)}`);
		if ('poor' in health) {
			toast.warning('device in poor health, playback might not work as expected');
		}
	}

	async function shuffleQueue() {
		const cmd: AudioNodeCommand = 'SHUFFLE_QUEUE';

		await sendNodeCommand(cmd, data.node);
	}

	$: warnIfHealthPoor(health);
</script>

<div class="flex h-full flex-col">
	<ActionWheel
		initialItems={[
			{
				id: 'shuffle-queue',
				hintText: 'shuffle queue',
				icon: {
					component: Shuffle
				},
				action() {
					shuffleQueue();
				}
			},
			{
				id: 'add-audio',
				hintText: 'add new audio',
				icon: {
					component: ListPlus
				},
				action() {
					goto(searchPageHref(data.node, $page.url.searchParams));
				}
			},
			{
				id: 'change-queue-style',
				hintText: 'change queue style',
				icon: {
					component: ListCollapse
				},
				action() {
					if (
						$page.url.pathname.endsWith('mini') ||
						$page.url.pathname.endsWith('mini/')
					) {
						goto(`/queue/${data.node}${$page.url.search}`);
					} else {
						goto(`/queue/${data.node}/mini${$page.url.search}`);
					}
				}
			}
		]}
	/>

	<div
		class="flex h-14 min-h-14 max-w-full items-center justify-between p-2 lg:px-4 lg:py-8"
	>
		<div class="flex min-w-0 flex-grow items-center gap-2">
			<a
				href="/"
				tabindex="0"
				on:keypress={(e) => callKeypressOnEnter(e, () => goto('/'))}
				class="z-10 flex h-8 min-h-8 w-8 min-w-8 items-center justify-center lg:h-10 lg:min-h-10 lg:w-10"
			>
				<Icon>
					<Home class="m-1 h-full w-full" />
				</Icon>
			</a>
			<span class="truncate text-xl font-bold sm:text-2xl 2xl:text-4xl">
				{humanReadableName}
			</span>
		</div>

		<div
			role="button"
			tabindex="0"
			class="z-10 flex h-8 min-h-8 w-8 min-w-fit items-center justify-center
				lg:h-10 lg:min-h-10 lg:w-10"
			on:click={clearQueue}
			on:keypress={(e) => callKeypressOnEnter(e, clearQueue)}
		>
			{#if $queuePageStore.queue.length > 0}
				<span class="font-bold text-neutral-400">Clear Queue</span>
			{:else}
				<span class="font-bold text-neutral-600">Clear Queue</span>
			{/if}
		</div>
	</div>

	<div class="min-h-0 flex-grow">
		<slot />
	</div>

	<div>
		<ActiveAudio
			activeAudio={$queuePageStore.audioInfo?.currentQueueIndex
				? $queuePageStore.queue[$queuePageStore.audioInfo.currentQueueIndex]
				: undefined}
			nodeName={data.node}
			audioProgress={$queuePageStore.audioInfo?.audioProgress}
			audioVolume={$queuePageStore.audioInfo?.audioVolume}
			playbackState={$queuePageStore.audioInfo?.playbackState}
		/>
	</div>
</div>
