<script lang="ts">
	import AudioQueue from '$lib/components/queue/AudioQueue.svelte';
	import { getContext } from 'svelte';
	import type { QueuePageStore } from './+layout.svelte';
	import type { Readable } from 'svelte/store';

	const queueData = getContext<Readable<QueuePageStore>>('queue-data');
</script>

{#if $queueData?.nodeName}
	<AudioQueue
		queue={$queueData.queue}
		nodeName={$queueData.nodeName}
		currentHeadIndex={$queueData.audioInfo?.currentQueueIndex}
	/>
{/if}
