<script lang="ts">
	import { SkipForward, SkipBack, Play, Pause } from 'lucide-svelte';
	import type { AudioTrackMetadata } from '$api/AudioTrackMetadata';
	import RangeSlider from 'svelte-range-slider-pips';
	import type { PlaybackState } from '$api/PlaybackState';
	import {
		callKeypressOnEnter,
		sendNodeCommandWithTimeout,
		unixMillisToMinutesString
	} from '$lib/utils';
	import type { AudioNodeCommand } from '$api/AudioNodeCommand';
	import VolumeSlider from './VolumeSlider.svelte';
	import AddButton from './AddButton.svelte';
	import WheelBlockZone from '../actionWheel/WheelBlockZone.svelte';
	import Icon from '../utils/Icon.svelte';

	export const ssr = false;

	export let activeAudio: AudioTrackMetadata | undefined;
	export let playbackState: PlaybackState | undefined;
	export let audioProgress: number | undefined;
	export let audioVolume: number | undefined;

	export let nodeName: string;

	let holdingBar = false;
	let localProgress = 0;

	let displayedDuration = '--:--';
	let displayedPlayedDuration = '--:--';

	const onPlayPause = async () => {
		if (!playbackState) {
			return;
		}

		const action = playbackState === 'paused' ? '"UN_PAUSE_QUEUE"' : '"PAUSE_QUEUE"';

		await fetch(`${import.meta.env.VITE_API_PREFIX}/commands/node/${nodeName}`, {
			method: 'POST',
			body: action,
			headers: { 'Content-Type': 'application/json' }
		});
	};

	const onNext = async () => {
		await fetch(`${import.meta.env.VITE_API_PREFIX}/commands/node/${nodeName}`, {
			method: 'POST',
			body: '"PLAY_NEXT"',
			headers: { 'Content-Type': 'application/json' }
		});
	};

	const onPrev = async () => {
		await fetch(`${import.meta.env.VITE_API_PREFIX}/commands/node/${nodeName}`, {
			method: 'POST',
			body: '"PLAY_PREVIOUS"',
			headers: { 'Content-Type': 'application/json' }
		});
	};

	const onBarDragStart = (e: { detail: { value: number } }) => {
		localProgress = e.detail.value / 100;
		holdingBar = true;
	};

	const onBarDragEnd = async (e: { detail: { value: number } }) => {
		localProgress = e.detail.value / 100;
		const cmd: AudioNodeCommand = {
			SET_AUDIO_PROGRESS: {
				progress: localProgress
			}
		};

		await sendNodeCommandWithTimeout(cmd, nodeName, 500);
		setTimeout(() => {
			holdingBar = false;
		}, 200);
	};

	const onBarDrag = (e: { detail: { value: number } }) => {
		if (!holdingBar) {
			return;
		}

		localProgress = e.detail.value / 100;
	};

	$: if (!holdingBar) {
		localProgress = audioProgress ?? 0;
	}

	$: if (activeAudio && activeAudio.duration) {
		displayedDuration = unixMillisToMinutesString(Number(activeAudio.duration));
		displayedPlayedDuration = unixMillisToMinutesString(
			Number(activeAudio.duration) * localProgress
		);
	} else {
		displayedDuration = '--:--';
		displayedPlayedDuration = '--:--';
	}
</script>

<div class="relative flex max-h-full w-full justify-center bg-neutral-800">
	<div class="flex h-full w-full max-w-[800px] flex-col gap-4 p-4">
		<div class="flex flex-col">
			<span class="truncate text-lg font-bold sm:text-xl 2xl:text-2xl">
				{activeAudio?.name ?? '---'}
			</span>

			<span class="truncate">{activeAudio?.author ?? '---'}</span>
		</div>

		<div
			class="absolute left-0 right-0 top-[-50px] z-20 flex items-center justify-center
                text-center lg:top-[-72px]"
		>
			<AddButton {nodeName} />
			<VolumeSlider volume={audioVolume} {nodeName} />
		</div>

		<div class="relative">
			<WheelBlockZone classList="w-full">
				<span class="lg:text-md absolute left-0 top-8 text-sm text-neutral-500"
					>{displayedPlayedDuration}</span
				>
				<span class="lg:text-md absolute right-0 top-8 text-sm text-neutral-500"
					>{displayedDuration}</span
				>
				<RangeSlider
					values={[Math.min(Math.max(localProgress * 100, 0), 100)]}
					range="min"
					step={0.33}
					on:start={onBarDragStart}
					on:change={onBarDrag}
					on:stop={onBarDragEnd}
				/>
			</WheelBlockZone>
		</div>

		<div class="flex items-center justify-around gap-2">
			<div
				role="button"
				tabindex="0"
				on:click={onPrev}
				on:keypress={(e) => callKeypressOnEnter(e, onPrev)}
			>
				<Icon>
					<SkipBack class="h-full w-full" />
				</Icon>
			</div>

			<div
				role="button"
				tabindex="0"
				on:click={onPlayPause}
				on:keypress={(e) => callKeypressOnEnter(e, onPlayPause)}
			>
				<Icon>
					{#if playbackState === 'paused'}
						<Play class="h-full w-full" />
					{:else}
						<Pause class="h-full w-full" />
					{/if}
				</Icon>
			</div>

			<div
				role="button"
				tabindex="0"
				on:click={onNext}
				on:keypress={(e) => callKeypressOnEnter(e, onNext)}
			>
				<Icon>
					<SkipForward class="h-full w-full" />
				</Icon>
			</div>
		</div>
	</div>
</div>

<style>
	:root {
		--range-slider: #171717;
		--range-handle-inactive: #525252;
		--range-handle: #737373;
		--range-handle-focus: #a3a3a3;
		--range-handle-border: #737373;
	}
</style>
