<script lang="ts" context="module">
	export function searchPageHref(nodeName: string, searchParams: URLSearchParams) {
		const param = searchParams.get('human_readable_name');
		const humanReadableName = param ? `&node_human_readable_name=${param}` : '';

		return `/search?node=${nodeName}${humanReadableName}`;
	}
</script>

<script lang="ts">
	import { goto } from '$app/navigation';
	import { page } from '$app/stores';
	import { callKeypressOnEnter } from '$lib/utils';
	import { Plus } from 'lucide-svelte';
	import Icon from '../utils/Icon.svelte';

	export let nodeName: string;

	function getSearchPageLink() {
		return searchPageHref(nodeName, $page.url.searchParams);
	}
</script>

<a
	href={getSearchPageLink()}
	tabindex="0"
	class="flex w-20 items-center justify-center rounded-full bg-neutral-800 p-2 text-center
    shadow-lg shadow-stone-950 lg:w-40 lg:p-2"
	on:keypress={(e) => callKeypressOnEnter(e, () => goto(getSearchPageLink()))}
>
	<Icon>
		<Plus class="h-full w-full" />
	</Icon>
</a>
