<script lang="ts">
	import type { AudioNodeCommand } from '$api/AudioNodeCommand';
	import { callKeypressOnEnter, sendNodeCommandWithTimeout } from '$lib/utils';
	import { swipe } from 'svelte-gestures';
	import AudioItem from '../audio/AudioItem.svelte';
	import { fade, fly } from 'svelte/transition';
	import Icon from '../utils/Icon.svelte';
	import { X } from 'lucide-svelte';
	import type { AudioQueueItem } from '$api/AudioQueueItem';

	export let nodeName: string;
	export let currentHeadIndex: number | undefined;
	export let queue: AudioQueueItem[];

	let swipeDirection = 1;

	async function onElementClick(index: number) {
		const cmd: AudioNodeCommand = {
			PLAY_SELECTED: {
				index
			}
		};

		await sendNodeCommandWithTimeout(cmd, nodeName, 1_000);
	}

	async function onRemove(localId: string) {
		const cmd: AudioNodeCommand = {
			REMOVE_QUEUE_ITEM: {
				localId
			}
		};

		await sendNodeCommandWithTimeout(cmd, nodeName, 1_000);
	}

	async function onSwipeRemove(
		e: { detail: { direction: 'left' | 'right' } },
		localId: string
	) {
		swipeDirection = e?.detail?.direction === 'left' ? -1 : 1;
		await onRemove(localId);
	}

	let queueElement: HTMLElement | undefined;
	let activeElement: HTMLElement[] = [];
	let uiLoadingFinished = false;

	const scrollToActive = () => {
		const active = activeElement[1];
		if (uiLoadingFinished || !queueElement || !active) {
			return;
		}

		uiLoadingFinished = true;
		queueElement.scrollTo({
			top: active.offsetTop,
			behavior: 'instant'
		});
	};

	$: queueElement && scrollToActive();
	$: activeElement && scrollToActive();
</script>

<div
	bind:this={queueElement}
	on:contextmenu={() => false}
	role="list"
	class="relative flex h-full flex-col gap-2 overflow-x-hidden overflow-y-scroll px-2 lg:gap-4 lg:px-4"
>
	{#each queue as item, idx (item.localId)}
		<div
			role="button"
			tabindex="0"
			use:swipe={{ minSwipeDistance: 80, touchAction: 'pan-y' }}
			on:swipe={(e) => onSwipeRemove(e, item.localId)}
			bind:this={activeElement[+(currentHeadIndex === idx)]}
			in:fade={{ duration: 150 }}
			out:fly={{ duration: 250, x: 1000 * swipeDirection }}
			on:click={() => onElementClick(idx)}
			on:keypress={(e) => callKeypressOnEnter(e, () => onElementClick(idx))}
		>
			<AudioItem
				name={item.name}
				author={item.author}
				coverArtUrl={item.coverArtUrl}
				active={currentHeadIndex === idx}
				imgActive={currentHeadIndex === idx}
			>
				<div
					role="button"
					tabindex="0"
					on:click|stopPropagation={() => onRemove(item.localId)}
					on:keypress={(e) =>
						callKeypressOnEnter(e, () => onRemove(item.localId))}
					class="desktop z-10 flex h-8 min-h-8 w-8 min-w-8 items-center justify-center lg:h-10 lg:min-h-10 lg:w-10"
				>
					<Icon>
						<X class="h-full w-full" />
					</Icon>
				</div>
			</AudioItem>
		</div>
	{/each}
</div>
