<script lang="ts" context="module">
	export type DndQueueItem = { data: AudioQueueItem; id: string };
</script>

<script lang="ts">
	import type { AudioNodeCommand } from '$api/AudioNodeCommand';

	import type { AudioQueueItem } from '$api/AudioQueueItem';
	import { callKeypressOnEnter, sendNodeCommandWithTimeout } from '$lib/utils';
	import { SOURCES, TRIGGERS, dndzone } from 'svelte-dnd-action';
	import { onMount } from 'svelte';
	import type { MoveQueueItemParams } from '$api/MoveQueueItemParams';
	import type { PlaySelectedParams } from '$api/PlaySelectedParams';
	import { flip } from 'svelte/animate';
	import { browser } from '$app/environment';
	import AudioItemMini from '../audio/AudioItemMini.svelte';
	import Icon from '../utils/Icon.svelte';
	import { GripVertical } from 'lucide-svelte';

	export let nodeName: string;

	export let currentQueue: DndQueueItem[];
	export let currentQueueHead: number;

	let locallyRemoved = new Set<string>();

	type LocalQueueState = 'moving-items' | 'play-selected' | 'passive';
	type AllowedCommand =
		| Extract<AudioNodeCommand, { MOVE_QUEUE_ITEM: MoveQueueItemParams }>
		| Extract<AudioNodeCommand, { PLAY_SELECTED: PlaySelectedParams }>;

	let localQueue: DndQueueItem[] = [];
	let localQueueHead = 0;
	let localQueueState: LocalQueueState = 'passive';
	let commandQueue: AllowedCommand[] = [];

	let localIds: string[] = [];

	let setOldPosLocked = false;
	let oldPos: number | undefined;
	let currentLocalId: string | undefined;
	let newPos: number | undefined;
	let targetLocalId: string | undefined;

	let dragLocked = false;
	let dragDisabled = true;
	let isDragging = false;
	let isUsingTouch = true;

	const defaultFlipDurationMs = 150;
	let flipDurationMs = 0;

	onMount(() => {
		localQueue = currentQueue;
		localQueueHead = currentQueueHead;

		if (browser) {
			isUsingTouch = matchMedia('(pointer:coarse)').matches;
			dragDisabled = isUsingTouch;
		}

		setInterval(updateLocalState, 3000);
	});

	$: currentQueue, updateLocalState();
	$: currentQueueHead, updateLocalState();
	$: commandQueue, processCommands();

	async function processCommands() {
		const cmd = commandQueue.shift();

		if (!cmd) {
			localQueueState = 'passive';
			return;
		}

		localQueueState = commandToState(cmd);

		if ('MOVE_QUEUE_ITEM' in cmd) {
			const { timeout } = await sendNodeCommandWithTimeout(cmd, nodeName, 2000, {
				loading: 'moving items...',
				success: 'moved items!',
				error: 'this is taking longer than expected, something might have gone wrong'
			});

			if (!timeout) {
				await activeWait(defaultFlipDurationMs);
			}
		} else if ('PLAY_SELECTED' in cmd) {
			await sendNodeCommandWithTimeout(cmd, nodeName, 2000);
		}

		if (commandQueue.length <= 0) {
			localQueueState = 'passive';
		}

		commandQueue = commandQueue;
		updateLocalState();
	}

	function updateLocalState() {
		if (isDragging) {
			return;
		}

		if (localQueueState === 'passive') {
			localQueue = currentQueue;
		}

		if (localQueueState === 'passive' || localQueueState === 'play-selected') {
			localQueueHead = currentQueueHead;
		}
	}

	function commandToState(cmd: AllowedCommand): LocalQueueState {
		if ('MOVE_QUEUE_ITEM' in cmd) {
			return 'moving-items';
		} else if ('PLAY_SELECTED' in cmd) {
			return 'play-selected';
		}

		return 'passive';
	}

	function transformDraggedElement(
		_element: HTMLElement | undefined,
		_data: any,
		index: number | undefined
	) {
		if (localIds.length <= 0) {
			localIds = localQueue.map((item) => item.data.localId);
		}

		if (!setOldPosLocked) {
			setOldPosLocked = true;

			oldPos = index;
			currentLocalId = index !== undefined ? localIds[index] : undefined;
		}

		newPos = index;
		targetLocalId = index !== undefined ? localIds[index] : undefined;
	}

	function handleDndConsider(e: CustomEvent<DndEvent<DndQueueItem>>) {
		localQueueHead = -1;
		flipDurationMs = defaultFlipDurationMs;
		isDragging = true;

		localQueue = e.detail.items;

		if (
			e.detail.info.source === SOURCES.KEYBOARD &&
			e.detail.info.trigger === TRIGGERS.DRAG_STOPPED
		) {
			flipDurationMs = 0;
			isDragging = false;
			dragDisabled = isUsingTouch;
			localIds = [];
		}
	}

	function handleDndFinalize(e: CustomEvent<DndEvent<DndQueueItem>>) {
		setOldPosLocked = false;
		localQueue = e.detail.items;

		flipDurationMs = 0;
		isDragging = false;
		localIds = [];

		if (e.detail.info.source === SOURCES.POINTER) {
			dragDisabled = isUsingTouch;
		}

		if (
			oldPos !== undefined &&
			newPos !== undefined &&
			currentLocalId !== undefined &&
			targetLocalId !== undefined
		) {
			const cmd: AudioNodeCommand = {
				MOVE_QUEUE_ITEM: {
					oldPos,
					currentLocalId,
					newPos,
					targetLocalId
				}
			};

			commandQueue.push(cmd);
			commandQueue = commandQueue;
		}
	}

	function onElementClick(index: number) {
		const cmd: AudioNodeCommand = {
			PLAY_SELECTED: {
				index
			}
		};

		commandQueue.push(cmd);
		commandQueue = commandQueue;
	}

	$: dragLocked, enableDragAfterUnlockOnDesktop();

	function enableDragAfterUnlockOnDesktop() {
		if (!dragLocked && !isUsingTouch) {
			dragDisabled = false;
		}
	}

	async function activeWait(durationMs: number) {
		await new Promise<void>((res) => {
			setTimeout(() => {
				res();
			}, durationMs);
		});
	}
</script>

<section
	use:dndzone={{
		items: localQueue,
		transformDraggedElement,
		dragDisabled,
		dropTargetStyle: { background: '#0000000' },
		morphDisabled: true,
		flipDurationMs
	}}
	on:consider={handleDndConsider}
	on:finalize={handleDndFinalize}
	class="relative flex h-full flex-col overflow-x-hidden overflow-y-scroll px-2 lg:px-4"
>
	{#each localQueue as item, idx (item.id)}
		<div
			role="button"
			tabindex="0"
			animate:flip={{ duration: flipDurationMs }}
			on:click={() => onElementClick(idx)}
			on:keypress={(e) => callKeypressOnEnter(e, () => onElementClick(idx))}
			class:slideOut={locallyRemoved.has(item.data.localId)}
		>
			<AudioItemMini
				name={item.data.name}
				author={item.data.author}
				coverArtUrl={item.data.coverArtUrl}
				active={localQueueHead === idx}
			>
				<div
					on:touchstart={() => (dragDisabled = dragLocked)}
					on:touchend={() => (dragDisabled = true)}
					on:touchcancel={() => (dragDisabled = true)}
					class="mobile z-10 flex h-10 w-10 items-center justify-center p-2"
				>
					<Icon size="small">
						<GripVertical class="h-full w-full" />
					</Icon>
				</div>
			</AudioItemMini>
		</div>
	{/each}
</section>
