<script lang="ts">
	import type { AudioNodeCommand } from '$api/AudioNodeCommand';
	import { callKeypressOnEnter, sendNodeCommandWithTimeout } from '$lib/utils';
	import RangeSlider from 'svelte-range-slider-pips';
	import Icon from '../utils/Icon.svelte';
	import { Volume2 } from 'lucide-svelte';

	export let nodeName: string;
	export let volume: number | undefined;

	let barElement: HTMLElement | undefined;

	let barVisible = false;

	let holdingBar = false;
	let localVolume = 0;

	const onBarDragStart = (e: { detail: { value: number } }) => {
		localVolume = e.detail.value / 100;
		holdingBar = true;
	};

	const onBarDragEnd = async (e: { detail: { value: number } }) => {
		localVolume = e.detail.value / 100;
		const cmd: AudioNodeCommand = {
			SET_AUDIO_VOLUME: {
				volume: localVolume
			}
		};

		await sendNodeCommandWithTimeout(cmd, nodeName, 500);
		setTimeout(() => {
			barVisible = false;
			holdingBar = false;
		}, 200);
	};

	const onBarDrag = (e: { detail: { value: number } }) => {
		if (!holdingBar) {
			return;
		}

		localVolume = e.detail.value / 100;
	};

	const onClickOutside = (e: MouseEvent) => {
		if (
			e.target instanceof Element &&
			barElement &&
			!barElement?.contains(e.target)
		) {
			barVisible = false;
		}
	};

	$: if (!holdingBar) {
		localVolume = volume ?? 0;
	}
</script>

<svelte:window on:click={onClickOutside} />

<div
	role="button"
	tabindex="0"
	class="absolute right-2 z-20 flex w-fit items-center justify-center rounded-full bg-neutral-800
    p-1 text-center lg:right-3 lg:p-2"
	bind:this={barElement}
	on:click={() => (barVisible = !barVisible)}
	on:keypress={(e) => callKeypressOnEnter(e, () => (barVisible = !barVisible))}
>
	<Icon>
		<Volume2 />
	</Icon>

	{#if barVisible}
		<div
			class="absolute bottom-3 right-[-6px] h-[250px] lg:bottom-[-72px] lg:right-[4px] lg:h-[360px]"
		>
			<RangeSlider
				values={[Math.min(Math.max(localVolume * 100, 0), 100)]}
				range="min"
				step={5}
				vertical={true}
				on:start={onBarDragStart}
				on:change={onBarDrag}
				on:stop={onBarDragEnd}
			/>
		</div>
	{/if}
</div>
