<script lang="ts">
	import { wheelContext } from './utils';
	import type { ActionWheelItem } from './types';

	export let id: string;
	export let classList = '';

	export let items: ActionWheelItem[] = [];
	export let disable: ActionWheelItem['id'][] = [];

	function updateContext(items: ActionWheelItem[], disable: ActionWheelItem['id'][]) {
		$wheelContext.set(id, {
			items,
			disable
		});
	}

	$: updateContext(items, disable);
</script>

<div class={`h-fit w-fit ${classList}`} data-action-wheel-context-id={id}><slot /></div>
