<script lang="ts">
	export let active = false;

	export let name: string | null | undefined;
	export let author: string | null | undefined;
	export let coverArtUrl: string | null | undefined;
</script>

<div
	class="relative flex max-h-[60px] min-h-[60px] w-full max-w-full items-center gap-2 rounded-sm p-1 lg:max-h-[80px] lg:min-h-[80px] lg:p-2"
	class:active
>
	<img
		class="h-10 min-h-10 w-10 min-w-10 rounded-sm object-cover lg:h-12 lg:min-h-12
        lg:w-12 lg:min-w-12"
		src={coverArtUrl}
		alt=""
	/>

	<div class="flex max-w-full flex-1 flex-grow flex-col gap-1 truncate p-2">
		<span class="lg:text-md truncate text-sm font-bold 2xl:text-lg">
			{name ?? '---'}
		</span>
		<span class="2xl:text-md truncate text-xs lg:text-sm">
			{author ?? '---'}
		</span>
	</div>

	<slot />
</div>

<style>
	.active {
		background-color: #262626;
	}
</style>
