<script lang="ts">
	import AudioItemSkeleton from './AudioItemSkeleton.svelte';

	export let active = false;
	export let imgActive = false;

	export let name: string | null | undefined;
	export let author: string | null | undefined;
	export let coverArtUrl: string | null | undefined;
</script>

<AudioItemSkeleton>
	<div
		class="flex max-w-full flex-1 flex-col gap-1 truncate p-2 opacity-75"
		class:active
	>
		<span class="z-10 truncate text-lg font-bold lg:text-2xl 2xl:text-4xl">
			{name ?? '---'}
		</span>
		<span class="text-md z-10 truncate lg:text-lg 2xl:text-xl">
			{author ?? '---'}
		</span>
	</div>

	<slot />

	<img
		class="absolute left-0 top-0 z-0 h-full w-full rounded object-cover opacity-30 lg:rounded-lg"
		src={coverArtUrl}
		class:active-img={imgActive}
		alt=""
	/>
</AudioItemSkeleton>

<style>
	.active {
		opacity: 1;
	}
	.active-img {
		opacity: 0.8;
		transition: 150ms;
	}
</style>
