<script lang="ts">
	export let empty = false;
</script>

<div
	class:empty
	class="relative flex max-h-[200px] min-h-[200px] w-full max-w-full justify-between gap-2 rounded lg:max-h-[320px] lg:min-h-[320px]"
>
	<slot />
</div>

<style>
	.empty {
		animation: pulse 1200ms alternate infinite;
	}

	@keyframes pulse {
		0% {
			background-color: #525252;
		}

		100% {
			background-color: #404040;
		}
	}
</style>
