<script lang="ts">
	import type { SearchAudioResultKind } from '$api/SearchAudioResultKind';
	import { ListMusic, Music } from 'lucide-svelte';
	import Icon from '../utils/Icon.svelte';

	export let kind: SearchAudioResultKind;
</script>

<Icon size="small">
	{#if kind === 'track'}
		<Music class="h-full w-full" />
	{:else}
		<ListMusic class="h-full w-full" />
	{/if}
</Icon>
