<script lang="ts">
	import type { AudioOrigin } from '$api/AudioOrigin';
	import { Folder } from 'lucide-svelte';
	import Icon from '../utils/Icon.svelte';

	export let origin: AudioOrigin | undefined;
</script>

<div
	class="z-10 m-1 flex h-8 min-h-8 w-8 min-w-8 items-center justify-center lg:h-10 lg:min-h-10 lg:w-10"
>
	<Icon size="small">
		{#if origin === 'youtube'}
			<img class="h-full w-full" src="/youtube.svg" alt="yt" />
		{:else}
			<Folder class="h-full w-full" />
		{/if}
	</Icon>
</div>
