<script lang="ts" context="module">
	import type { AudioNodeCommand } from '$api/AudioNodeCommand';
	import { goto } from '$app/navigation';
	import { page } from '$app/stores';
</script>

<script lang="ts">
	import AudioItem from '$lib/components/audio/AudioItem.svelte';
	import AudioKindIcon from '$lib/components/audio/AudioKindIcon.svelte';
	import AudioOriginIcon from '$lib/components/audio/AudioOriginIcon.svelte';
	import BarLoader from '$lib/components/utils/BarLoader.svelte';
	import SearchBar from '$lib/components/search/SearchBar.svelte';
	import {
		callKeypressOnEnter,
		detectAudioSearchType,
		sendCentralGatewayCommand,
		sendNodeCommand
	} from '$lib/utils';
	import {
		extractYoutubeContentId,
		getYoutubeMetadataByContentId
	} from '$lib/search/youtube';
	import { searchAudio } from '$lib/search/search';
	import { onMount } from 'svelte';
	import { getLocalAudioByUid } from '$lib/search/local';
	import type { SearchAudioResult } from '$api/SearchAudioResult';
	import { toast } from 'svelte-sonner';
	import Icon from '$lib/components/utils/Icon.svelte';
	import { Home } from 'lucide-svelte';
	import type { CentralGatewayCommand } from '$api/CentralGatewayCommand';
	import type { AudioOrigin } from '$api/AudioOrigin';

	let audio: SearchAudioResult[] = [];

	let addRateLimit: {
		addBlocked: boolean;
		clicksDuringBlocked: number;
		readonly blockDurationMs: number;
		readonly warnAfterNumBlockedClicks: number;
		readonly tooFast: () => boolean;
	} = {
		addBlocked: false,
		clicksDuringBlocked: 0,
		blockDurationMs: 500,
		warnAfterNumBlockedClicks: 2,
		tooFast() {
			return (
				addRateLimit.clicksDuringBlocked >= addRateLimit.warnAfterNumBlockedClicks
			);
		}
	};

	let exactMatch = false;
	let fetchingData = false;
	let displayLoadingBarDelayTimer: ReturnType<typeof setTimeout> | undefined;

	const setFetchingData = (value: boolean) => {
		clearTimeout(displayLoadingBarDelayTimer);

		if (value) {
			displayLoadingBarDelayTimer = setTimeout(() => {
				fetchingData = true;
			}, 250);
		} else {
			fetchingData = false;
		}
	};

	let searchString = '';
	let nodeName: string | undefined;
	let humanReadableNodeName: string | undefined;

	onMount(() => {
		const paramNodeName = $page.url.searchParams.get('node');
		const paramNodeNameHumanReadable = $page.url.searchParams.get(
			'node_human_readable_name'
		);

		const paramSearch = $page.url.searchParams.get('s');

		nodeName = paramNodeName ? decodeURIComponent(paramNodeName) : undefined;
		humanReadableNodeName = paramNodeNameHumanReadable
			? decodeURIComponent(paramNodeNameHumanReadable)
			: undefined;
		searchString = paramSearch ? decodeURIComponent(paramSearch) : '';

		if (searchString) {
			apiSearch(searchString); // non-blocking
		}
	});

	const nodeHref = (
		nodeName: string | undefined,
		humanReadableNodeName: string | undefined
	): string => {
		const humanReadableName = humanReadableNodeName
			? `human_readable_name=${humanReadableNodeName}`
			: '';

		return nodeName ? `/queue/${nodeName}/mini?${humanReadableName}` : '/';
	};

	const onSearch = async (searchString: string) => {
		const searchType = detectAudioSearchType(searchString);
		switch (searchType) {
			case 'youtube-audio':
			case 'youtube-audio-playlist': {
				const contentId = extractYoutubeContentId(searchString);
				if (!contentId) {
					return;
				}

				const key = import.meta.env.VITE_YOUTUBE_API_KEY;

				setFetchingData(true);
				const metadata = await getYoutubeMetadataByContentId(contentId, key);
				setFetchingData(false);

				if (!metadata) {
					return;
				}

				const data: SearchAudioResult = {
					score: 0,
					kind: metadata.kind,
					identifier: {
						youtube: {
							url: searchString
						}
					},
					name: metadata.name,
					author: metadata.author,
					coverArtUrl: metadata.coverArtUrl
				};

				exactMatch = true;
				audio = [data];

				break;
			}
			case 'local-audio': {
				setFetchingData(true);
				const metadata = await getLocalAudioByUid(searchString, 'track');
				setFetchingData(false);

				if (!metadata) {
					return;
				}

				const data: SearchAudioResult = {
					score: 0,
					kind: 'track',
					identifier: {
						local: {
							uid: searchString
						}
					},
					name: metadata.name,
					author: metadata.author,
					coverArtUrl: metadata.coverArtUrl
				};

				exactMatch = true;
				audio = [data];

				break;
			}
			case 'local-audio-playlist': {
				setFetchingData(true);
				const metadata = await getLocalAudioByUid(searchString, 'playlist');
				setFetchingData(false);

				if (!metadata) {
					return;
				}

				const data: SearchAudioResult = {
					score: 0,
					kind: 'playlist',
					identifier: {
						local: {
							uid: searchString
						}
					},
					name: metadata.name,
					author: metadata.author,
					coverArtUrl: metadata.coverArtUrl
				};

				exactMatch = true;
				audio = [data];

				break;
			}
			case 'basic-user-search': {
				if (nodeName !== undefined) {
					setFetchingData(true);
					audio = (await searchAudio(searchString, ['local'])) ?? [];
					setFetchingData(false);
				}
			}
		}
	};

	const onItemClick = async (data: SearchAudioResult) => {
		if (addRateLimit.addBlocked) {
			addRateLimit.clicksDuringBlocked += 1;

			if (addRateLimit.tooFast()) {
				toast.warning('slow down their bud');
			}

			return;
		}

		addRateLimit.addBlocked = true;
		setTimeout(
			() => (
				(addRateLimit.addBlocked = false), (addRateLimit.clicksDuringBlocked = 0)
			),
			addRateLimit.blockDurationMs
		);

		if (nodeName !== undefined) {
			const cmd: AudioNodeCommand = {
				ADD_QUEUE_ITEM: {
					identifier: data.identifier
				}
			};

			const addItemMsg =
				'local' in data.identifier
					? `added '${data.name}' to queue for ${nodeName}`
					: `queued '${data.name}' for download`;

			toast.promise(sendNodeCommand(cmd, nodeName), {
				loading: 'adding...',
				success: addItemMsg,

				error: `failed to add '${data.name}'`
			});
		} else if (!('local' in data.identifier)) {
			const cmd: CentralGatewayCommand = {
				DOWNLOAD_AUDIO: {
					identifier: data.identifier
				}
			};

			const addItemMsg = `queued '${data.name}' for download`;

			toast.promise(sendCentralGatewayCommand(cmd), {
				loading: 'adding...',
				success: addItemMsg,

				error: `failed to add '${data.name}'`
			});
		}
	};

	const onSubmit = async (search: string) => {
		const url = new URL($page.url);
		url?.searchParams?.set('s', search);
		goto(url);

		await apiSearch(search);
	};

	const apiSearch = async (search: string) => {
		const origins: AudioOrigin[] =
			nodeName !== undefined ? ['local', 'youtube'] : ['youtube'];

		setFetchingData(true);
		audio = (await searchAudio(search, origins)) ?? [];
		setFetchingData(false);
	};

	$: onSearch(searchString);
</script>

<div class="flex h-full flex-col gap-2 p-2 lg:px-8">
	<div class="flex h-14 min-h-14 items-center justify-between gap-2 lg:gap-4">
		<a
			href={nodeHref(nodeName, humanReadableNodeName)}
			tabindex="0"
			on:keypress={(e) =>
				callKeypressOnEnter(e, () =>
					goto(nodeHref(nodeName, humanReadableNodeName))
				)}
			class="flex h-8 min-h-8 w-8 min-w-8 items-center justify-center lg:h-10 lg:min-h-10 lg:w-10"
		>
			<img
				class="h-6 min-h-6 w-6 min-w-6 lg:h-8 lg:min-h-8 lg:w-8 lg:min-w-8"
				src="/back-arrow.svg"
				alt="⬅"
			/>
		</a>

		<div class="flex-grow">
			<SearchBar {onSubmit} bind:value={searchString} />
		</div>

		<a
			href="/"
			tabindex="0"
			on:keypress={(e) => callKeypressOnEnter(e, () => goto('/'))}
			class="flex h-8 min-h-8 w-8 min-w-8 items-center justify-center lg:h-10 lg:min-h-10 lg:w-10"
		>
			<Icon>
				<Home class="m-1 h-full w-full" />
			</Icon>
		</a>
	</div>

	{#if audio.length > 0}
		<div class="flex flex-grow flex-col items-center gap-2 overflow-y-auto">
			{#each audio as audio_data}
				<div
					class={`relative max-h-[200px] min-h-[200px] w-full rounded border-2
                                border-transparent lg:max-h-[320px] lg:min-h-[320px] lg:rounded-lg
                                ${exactMatch ? 'border-cyan-600' : ''}`}
					role="button"
					tabindex="0"
					on:click={() => onItemClick(audio_data)}
					on:keypress={(e) =>
						callKeypressOnEnter(e, () => onItemClick(audio_data))}
				>
					<AudioItem
						active={true}
						imgActive={false}
						name={audio_data.name}
						author={audio_data.author}
						coverArtUrl={audio_data.coverArtUrl}
					>
						<AudioOriginIcon
							origin={'youtube' in audio_data.identifier
								? 'youtube'
								: 'local'}
						/>
					</AudioItem>

					<div class="absolute bottom-2 right-2 z-10">
						<AudioKindIcon kind={audio_data.kind} />
					</div>
				</div>
			{/each}
		</div>
	{:else}
		<div class="flex flex-grow flex-col items-center justify-center gap-2">
			<span class="text-neutral-400">Nothing found yet..</span>
			<img
				class="h-12 min-h-12 w-12 min-w-12 lg:h-16 lg:min-h-16 lg:w-16 lg:min-w-16"
				src="/CDs.svg"
				alt=""
			/>
		</div>
	{/if}

	<div class="flex h-[32px] min-h-[32px] w-full items-center justify-center">
		{#if fetchingData}
			<BarLoader size={120} color="#0063EB" />
		{/if}
	</div>
</div>
